// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites
@import '../../node_modules/slick-carousel/slick/slick.scss'; // slick
@import '../../node_modules/slick-carousel/slick/slick-theme.scss'; // slick


// USER VARIABLES SECTION

$accent: #fc0000; // Accent Color
$text:   #fff; // Text Color
$mainfamily: Helvetica, sans-serif; // Main Font Family
$secondfamily: ProximaNova, sans-serif; // Main Font Family

// Bootstrap compatible gutter variable => $gutter

$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;


// FONTS LOAD SECTION

@mixin font($f-name, $f-style, $f-weight, $f-url) {
	@font-face {
		font-family: $f-name;
		font-style: $f-style;
		font-weight: $f-weight;
		src: url($f-url) format('woff2');
	}
}


@include font('Helvetica', normal, 500, '../fonts/HelveticaNeueCyr-Medium.woff2');
@include font('Helvetica', normal, 700, '../fonts/HelveticaNeueCyr-Bold.woff2');
@include font('ProximaNova', normal, 400, '../fonts/ProximaNova-Regular.woff2');


// GENERAL DOCUMENT STYLES

::placeholder {
	color: #fff;
}


input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: $text;
	&:hover {
		text-decoration: none;
		color: $text;
	}
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $mainfamily;
	overflow-x: hidden;
	font-size: 16px;
	color: $text;
}


