body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}
section {
  padding-top: 70px;
  padding-bottom: 50px;
}
input:focus,
button:focus,
a:focus{
  outline: none;
}
.section__header {
  font-size: 48px;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
}
.btn {
  display: inline-block;
  width: 250px;
  -webkit-box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  background: #ffd70a;
  border: 1px solid #e5c109;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn img {
  margin-right: 10px;
  width: 22px;
  height: 22px;
}
.btn:hover {
  background-color: #f5cf0d;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.btn:hover img {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.exitblock {    
    display:none;    
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:100000;
}    
.exitblock .modal__bg {
    background: #000;
    opacity:.9;
    position:fixed;
    width:100%;
    height:100%;
}

.exitblock .modal__personal {
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  max-width: 900px;
  font-size: 30px;
  color: #FFF;
}
.exitblock .modal__personal h3 {
  margin-bottom: 40px;
  font-size: 45px;
}
.exitblock .modal__personal span {
  color: green;
  font-size: 45px;
  font-weight: 700;
}
.exitblock .modal__personal .line-through {
  color: red;
  font-weight: 400;
  text-decoration: line-through;
}
.exitblock .modal__content {
  text-align: center;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position:fixed;
  top:37%;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}        
.closeblock {
  position: absolute;
  cursor:pointer;
  line-height:60px;
  font-size:50px;
  transform: rotate(45deg);
  text-align:center;
  top:-22px;
  right:10px;
  color: red;
  opacity: 0.7;    
}
.closeblock:hover {
  opacity: 0.9;  
}
.exitblock .modal__content h3 {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.9;
}
.exitblock .modal__content h3 span {
  color: #4a76a8;
  font-weight: 700;
}
.exitblock .modal__content .tel {
  margin-bottom: 20px;
  padding-left: 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid rgba(128,128,128,0.5);
  opacity: 0.7;
  -webkit-box-shadow: none;
          box-shadow: none;
  width:80%;
  height: 50px;
}
.exitblock .modal__content .btn {
  width: 80%;
  height: 50px;
}
.discont__bg {
  width: 350px;
  height: 350px;
  margin-bottom: 20px;
}
.radio {
  width: 0;
  height: 0;
  opacity: 0;
}
/* Главная секция */
.main {
  text-align: center;
  background: url(../img/parallax.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main__wrapper {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}
.main__bg {
  background: url(../img/main-bg.png) center no-repeat;
  height: 200px;
}
.main .main__title {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 700;
  color: #ee1d24;
}
.main__subtitle {
  margin-top: 10px;
  color: #FFF;
  font-size: 66px;
  font-weight: 700;
}
/* End */
/* Advantages */
.advantages {
  background-color: #f6f6f9;
  text-align: center;
}
.advantages__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.advantages__subtitle {
  opacity: 0.7;
  font-size: 31px;
  margin-bottom: 50px;
}
.advantages__subtitle_block {
  margin-top: 50px;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}
.advantages__wrapper {
  -webkit-box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #FFF;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
}
.advantages__wrapper_block {
  border: 2px solid #7a9eb8;
  border-radius: 5px;
}
.advantages__wrapper_block-desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background: url(../img/check-box.png) center right no-repeat;
  color: #EE1D24;
  padding: 10px;
  padding-right: 100px;
  margin-right: 20px;
  font-size: 18px;
}
.advantages__desk {
  display: block;
  margin-top: 40px;
  font-size: 32px;
  font-weight: 700;
  opacity: 0.9;
  line-height: 30px;
}
/* End */
/* Author */
.author {
  text-align: center;
}
.author__title {
  font-size: 32px;
  font-weight: 700;
  color: #383846;
  margin-bottom: 20px;
}
.author__title span {
  display: block;
  margin-top: 10px;
  color: #EE1D24;
  font-size: 40px;
  opacity: 0.7;
}
.author .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.author__list {
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 40px;
}
.author__img {
  width: 100%;
}
/* End */
/* Video */
.video {
  background-color: #f6f6f9;
  text-align: center;
}
.video .youtube {
  height: 315px;
  width: 100%;
  -webkit-box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin-bottom: 20px;
}
/* End */
/* Call */
.call {
  text-align: center;
}
.call__wrapper {
  width: auto;
  -webkit-box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 40px;
}
.call__wrapper .btn {
  margin-top: 20px;
}
.call__wrapper .btn img {
  width: 30px;
  height: 25px;
}
.call__title {
  opacity: 0.8;
  font-weight: 700;
  text-transform: uppercase;
}
.call__title span {
  font-size: 35px;
  color: red;
}
/* End */
/* Feedback */
.feedback {
  text-align: center;
  padding-bottom: 100px;
}
.slider {
  margin: 0 auto;
}
.slider .deedback-items img {
  -webkit-box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 600px;
  margin: 0 auto;
}
.slick-prev {
  left: -40px;
}
.slick-next {
  right: -30px;
}
.slick-prev:before,
.slick-next:before {
  color: rgba(255, 10, 10, 0.7);
  font-size: 30px;
}
.slick-dots {
  bottom: -70px;
}
.slick-dots li button:before {
  font-size: 15px;
  color: rgba(33, 118, 204, 0.8);
}
.slick-dots li.slick-active button:before {
  color: rgba(33, 118, 204, 0.8);
}
/* Price */
.price {
  background: url(../img/price-bg.jpg) center no-repeat;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}
.price__block {
  -webkit-box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 43px -5px rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #FFF;
  padding: 30px 60px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.price__block_title {
  text-transform: uppercase;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  opacity: 0.8;
}
.price__block_title:before {
  content: "";
  display: inline-block;
  height: 60px;
  width: 60px;
  background: url(../img/price.png) center no-repeat;
}
.price__block_title-red {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}
.price__block_list {
  list-style: none;
  padding: 0;
  text-align: left;
  font-weight: 700;
  opacity: 0.8;
}
.price__block_list li {
  margin-bottom: 10px;
}
.price__block .price__item {
  margin: 0;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  opacity: 0.8;
  color: red;
}
.price__block .price__item span {
  opacity: 0.8;
  color: #000;
  text-decoration: line-through;
  display: block;
}
.price__block_opacity {
  opacity: 0.6;
}
/* End */
/* Footer */
.footer {
  padding: 80px 0;
  text-align: center;
}
.footer-subtitle {
  font-size: 23px;
  opacity: 0.7;
}
.footer .social {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .social .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FBA628;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50px;
}
.footer .social .bg img {
  width: 18px;
  height: 18px;
}
.footer .social .insta {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer .social .insta:hover {
  background-color: #ab6803;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}
.footer .social .vk {
  margin-left: 50px;
  background-color: #507299;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer .social .vk img {
  width: auto;
}
.footer .social .vk:hover {
  background-color: #3E5978;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}
/* End */
@media screen and (max-width: 992px) {
  .video .youtube {
    height: 380px;
  }
  .price__block_list {
    text-align: center;
  }
  .price__block .price__item {
    text-align: center;
  }
  .price__block .price__item span {
    display: inline;
    margin-right: 20px;
  }
  .price__block .btn {
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  __wrapper_block-desk {
    height: 180px;
  }
  .slick-prev {
    left: 180px;
    top: 640px;
  }
  .slick-next {
    right: 180px;
    top: 640px;
  }
}
/* 320px - 576px */
@media screen and (max-width: 576px) {
  .main__subtitle {
    font-size: 50px;
  }
  .slick-prev {
    left: 180px;
    top: 640px;
  }
  .slick-next {
    right: 180px;
    top: 640px;
  }
  .price__block .btn {
    width: 100%;
  }
}
/* 320px - 550px */
@media screen and (max-width: 550px) {
  .advantages__wrapper_block-desk {
    height: 250px;
  }
  .slick-prev {
    left: 150px;
  }
  .slick-next {
    right: 150px;
  }
}
@media screen and (max-width: 500px) {
  .advantages__wrapper_block-desk {
    font-size: 14px;
  }
  .video .youtube {
    height: 250px;
  }
  .call__wrapper .call__title {
    font-size: 22px;
  }
  .slider {
    width: auto;
  }
  .slick-prev {
    left: 120px;
  }
  .slick-next {
    right: 120px;
  }
  .slick-dots {
    display: none;
  }
  .price__block_title-red {
    font-size: 30px;
  }
  .price__block {
    padding: 30px;
  }
}
@media screen and (max-width: 400px) {
  .advantages__wrapper_block-desk {
    background: url(../img/check-box.png) center 10px no-repeat;
    margin: 0;
    padding: 10px;
    padding-top: 80px;
  }
  .advantages__desk {
    font-size: 20px;
  }
  .video .youtube {
    height: 205px;
  }
  .slick-prev {
    left: 80px;
  }
  .slick-next {
    right: 80px;
  }
}
@media screen and (max-width: 320px) {
  .main__subtitle {
    font-size: 40px;
  }
  .advantages__wrapper_block-desk {
    background-image: none;
    padding: 10px;
  }
}
/* End */
